[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simplextree"]
	path = simplextree
	url = https://github.com/peekxc/simplextree
